.category-list{
    margin-top: 15px;
    margin-left: 15px;
}
.category-list li{
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: medium;
    font-weight: bolder;
    color: #0064cd;
}
.category-list li:hover{
    cursor: pointer;
    color: #ee8a12;
}
