.contacts h1{
    color: #262626;
    font-size: 24px;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 0 1.5%;
}
.reviews li {
    display: inline-block;
    vertical-align: top;
    width: 33.33333%;
    padding: 20px;
    font-size: 16px;
}
.reviews li .inner {
    padding: 20px;
    background: #bfbfbf;
    color: #000;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.reviews li .inner .img {
    height: 30px;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviews li .inner .img img{
    width: 50%;
}
.reviews li .inner .caption {
    font-weight: bold;
    text-align: center;
}
.reviews li .inner:hover {
    background: #ff8614;
}
.blockform {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #fe0000;
    box-shadow: inset 0px 0px 15px 3px lightgrey, 0 0 25px lightgrey;
    background: #fff;
    display: block;
    width: 50%;
    margin: 0 auto;
}
.blockform .form {
    display: block;
    margin: 20px auto;
    width: 100%;
    position: relative;
    z-index: 9;
    box-sizing: border-box;
    padding: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    padding: 5px 15px 50px;
}
.form h4 {
    width: 100%;
    color: #333333;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    margin: 10px 0;
    border-bottom: 3px solid #ee8a12;
}
.blockform label {
    float: left;
    width: 40%;
    margin-top: 10px;
}
.blockform .form input, .blockform .form textarea {
    width: 60%;
}
.blockform .form input.submit {
    float: right;
    margin-bottom: 30px;
}

.form input.submit {
    background: #262626;
    color: #fff;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bold;
    border: 0;
    transition: background .3s;
}
.form input, .form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
    border: 1px solid #e5e5e5;
    font-size: 17px;
    color: #2b2b2b;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    font-family: 'PT Sans', Arial, sans-serif;
}
.form input.submit:hover {
    background: #ee8a12;
    cursor: pointer;
}


