.content-container{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.card{
    width: 14rem;
    text-align: center;
}
.item-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-auto-rows: auto;
}
.card-title{
    min-height: 85px;
}
