.range-form .price-input{
    width: 100px;
    display: inline-block;
}
.range-form{
    vertical-align: middle;
}
.range-button{
    margin-left: 5px;
    margin-top: -2px;
}
.rc-slider{
    margin-top: 10px;
}
