.sidebar-wrapper{
    background-color: #cce3f6;
    height: 865px;
    padding: 10px 15px;
}
.rc-slider .rc-slider-track{
    background-color: #0064cd;
}
.rc-slider .rc-slider-handle{
    border: solid 2px #0064cd;
}
.rc-slider .rc-slider-handle:hover{
    border: solid 2px #2176bd;
}
.rc-slider .rc-slider-handle:active {
    border-color: #2176bd;
    box-shadow: 0 0 5px #2176bd;
}
.rc-slider .rc-slider-handle-click-focused:focus{
    border-color: #2176bd;
}
.rc-slider .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging{
    border-color: #2176bd;
    box-shadow: 0 0 0 3px #2176bd;

}
