.warranty h1{
    color: #262626;
    font-size: 24px;
    text-transform: uppercase;
    margin: 20px 0;
    padding: 0 1.5%;
}
.content ol li:before, .content ul li:before {
    content: '';
    display: block;
    clear: both;
}
.content ul li:before {
    width: 6px;
    height: 6px;
    background: #fa9c18;
    position: absolute;
    top: 10px;
    left: 12px;
}
.content ul li, .content ol li {
    position: relative;
    margin: 5px 0;
    padding: 2px 15px 2px 35px;
}
.content ol {
    margin-bottom: 1em;
    counter-reset: myCounter;
    display: inline-block;
}
.content ol li:before {
    color: #fff;
    background: #fa9c18;
    position: absolute;
    top: -2px;
    left: 0;
    counter-increment: myCounter;
    content: counter(myCounter);
    text-align: center;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 26px;
    height: 26px;
}
.warranty-picture img{
    margin-bottom: 20px;
    width: 100%;
}
